@if (productListService.error()) {
  <p class="text-destructive">Error loading products: {{ productListService.error() }}</p>
}
@if (!productListService.loaded()) {
  <p>Loading...</p>
} @else {
  <div class="text-2xl font-bold">Create a new product</div>
  <form [formGroup]="newProductForm" (ngSubmit)="submit()" class="mt-4 flex flex-col gap-4">
    <input
      id="product-name-input"
      type="text"
      placeholder="Product Name"
      formControlName="name"
      [maxlength]="MAX_NAME_LENGTH"
      class="rounded-md border p-2"
      [ngClass]="{
        'border-destructive': nameControl.invalid && nameControl.touched,
      }"
    />
    @if (nameControl.invalid && nameControl.touched) {
      <p class="text-destructive text-sm">Name is required</p>
    }
    <textarea
      id="product-description-input"
      placeholder="Description"
      formControlName="description"
      [maxlength]="MAX_DESCRIPTION_LENGTH"
      class="rounded-md border p-2"
      [ngClass]="{
        'border-destructive': descriptionControl.invalid && descriptionControl.touched,
      }"
    ></textarea>
    @if (descriptionControl.invalid && descriptionControl.touched) {
      <p class="text-destructive text-sm">Description is required</p>
    }
    <p class="text-sm">
      {{ descriptionControl.value ? descriptionControl.value.length : 0 }} /
      {{ MAX_DESCRIPTION_LENGTH }}
    </p>
    <button
      type="submit"
      data-testid="submit-button"
      class="bg-primary hover:bg-primary/80 text-primary-foreground disabled:bg-muted cursor-pointer rounded-md p-2 font-medium"
    >
      Create product
    </button>
  </form>
}
