<div class="flex flex-row justify-between">
  <div>
    <div class="text-2xl font-bold">Products</div>
    <div>Select a product to edit</div>
  </div>
  <div>
    <button class="bg-primary text-primary-foreground rounded-md p-2 font-medium">
      + New Product
    </button>
  </div>
</div>

<div class="mt-4 flex flex-row flex-wrap gap-4">
  @for (product of products; track product.name) {
    <a class="bg-card border-border rounded-md border p-2" [routerLink]="['/products', product.id]">
      <div class="mb-2 text-lg font-bold">{{ product.name }}</div>
      <div>{{ product.description }}</div>
      <hr class="my-2" />
      <div class="font-semibold">Configurations ({{ product.selections.length }})</div>
    </a>
  }
</div>
