<div class="flex flex-col gap-2">
  <div class="relative flex flex-row items-center gap-2">
    <div class="group absolute -translate-x-full">
      <app-drag-handle class="invisible group-hover:visible"></app-drag-handle>
    </div>
    <span class="bg-accent rounded-md px-3 font-semibold">
      {{ systemIndex() + 1 }}.{{ itemIndex() + 1 }}
    </span>
    <span class="font-bold">{{ item().productCode }}</span>
    <span class="ml-auto font-bold">{{ item().price | currency }}</span>
  </div>
  <p>{{ item().description }}</p>
  <div class="flex flex-col gap-1">
    @for (input of product().inputs; track input.name; let inputIndex = $index) {
      @let itemInput = item().inputs[inputIndex];
      <app-quote-item-input
        [productInput]="input"
        [quoteItemInput]="itemInput"
        (quoteItemInputChange)="inputChange($event)"
      ></app-quote-item-input>
    }
    <div class="mt-2 flex flex-row items-baseline justify-between gap-2">
      <div>
        <button>+ Adder</button>
      </div>
      <app-quote-item-quantity
        [(quantity)]="item().quantity"
        (deleteClick)="deleteClick.emit()"
      ></app-quote-item-quantity>
    </div>
  </div>
</div>
