@if (quoteNewService.error()) {
  <p class="text-destructive">Error loading products: {{ quoteNewService.error() }}</p>
}

<button appButton type="button" (click)="showDebug.set(!showDebug())">Toggle Debug</button>
@if (showDebug()) {
  <div class="bg-sidebar mt-8 border p-4">
    <!-- <h3 class="font-bold">Debug ProductMap:</h3>
      <pre>{{ toJSON(quoteNewService.productMap()) | json }}</pre> -->

    <!-- <h3 class="font-bold">Debug SystemMap:</h3>
      <pre>{{ toJSON(quoteNewService.systemMap()) | json }}</pre> -->

    <!-- <h3 class="font-bold">Debug ItemMap:</h3>
      <pre>{{ toJSON(quoteNewService.itemMap()) | json }}</pre> -->

    <h3 class="font-bold">Debug Quote:</h3>
    <pre>{{ quoteNewService.quote() | json }}</pre>
  </div>
}

<div class="mb-6">
  <p class="text-foreground/70 text-sm font-semibold tracking-widest uppercase">New Quote</p>
</div>

<div class="grid items-start gap-6 xl:grid-cols-[1fr_24rem]">
  <div class="flex flex-col gap-6">
    <!-- Quote Information -->
    <div class="bg-card rounded-xl border p-6 shadow-sm">
      <div class="mb-6 flex items-center justify-between">
        <div>
          <p class="text-lg font-semibold">Quote Information</p>
          <p class="mt-1 text-sm">Start with the details for this quote.</p>
        </div>
      </div>

      <div class="flex flex-col gap-4">
        <label>
          <span class="text-sm font-medium">Quote Name</span>
          <input
            type="text"
            [formControl]="quoteNewService.nameControl"
            placeholder="e.g., Warehouse Conveyor System"
            class="hover:bg-input focus:bg-input mt-2 w-full rounded-md border p-2"
          />
        </label>

        <label>
          <span class="text-sm font-medium">Client Name</span>
          <input
            type="text"
            [formControl]="quoteNewService.customerNameControl"
            placeholder="Client or company name"
            class="hover:bg-input focus:bg-input mt-2 w-full rounded-md border p-2"
          />
        </label>

        <label>
          <span class="text-sm font-medium">Client Email</span>
          <input
            type="email"
            [formControl]="quoteNewService.customerEmailControl"
            placeholder="client@example.com"
            class="hover:bg-input focus:bg-input mt-2 w-full rounded-md border p-2"
          />
        </label>
      </div>
    </div>

    <!-- Quote Systems -->
    <div cdkDropList (cdkDropListDropped)="reorderSystem($event)" class="flex flex-col gap-6">
      @for (entry of quoteNewService.systemMap(); track entry[0]; let systemIndex = $index) {
        @let systemKey = entry[0];
        @let itemKeys = quoteNewService.systemItemKeyMap().get(systemKey)!;

        <div cdkDrag class="bg-card flex flex-col gap-4 rounded-xl border p-6 shadow-sm">
          <div class="relative">
            <div class="group absolute -translate-x-full">
              <svg
                app-icon-drag-handle
                cdkDragHandle
                class="invisible size-6 cursor-move group-hover:visible"
              ></svg>
            </div>
            <div>
              <div class="flex flex-row items-center justify-between">
                <p class="text-lg font-semibold">System {{ systemIndex + 1 }}</p>
                <button
                  (click)="quoteNewService.removeSystem$.next(systemKey)"
                  type="button"
                  class="hover:bg-muted cursor-pointer rounded-full p-2"
                >
                  <svg app-icon-x-mark class="size-4"></svg>
                </button>
              </div>

              @if (itemKeys.length < 1) {
                <p class="text-foreground/80 mt-1 text-sm">No products added yet</p>
              } @else {
                <p class="text-foreground/80 mt-1 text-sm">{{ itemKeys.length }} items</p>
              }
            </div>
          </div>

          @if (itemKeys.length === 0 && quoteNewService.showAddItem() === null) {
            <div class="text-foreground/70 rounded-md border border-dotted py-10 text-center">
              <p class="text-sm">
                Click <span class="font-semibold">Add Item</span> to get started
              </p>
            </div>
          }

          <!-- Quote Items -->
          <div
            cdkDropList
            (cdkDropListDropped)="reorderItem(systemKey, $event)"
            class="flex flex-col gap-3"
          >
            @for (itemKey of itemKeys; track itemKey; let itemIndex = $index) {
              @let item = quoteNewService.itemMap().get(itemKey)!;
              @let product = quoteNewService.productMap().get(item.productId)!;
              <div cdkDrag>
                <app-quote-item
                  [systemIndex]="systemIndex"
                  [itemIndex]="itemIndex"
                  [product]="product"
                  [item]="item"
                  (itemChange)="
                    quoteNewService.updateItem$.next({ itemKey: itemKey, updatedItem: $event })
                  "
                  (deleteClick)="
                    quoteNewService.removeItem$.next({ systemKey: systemKey, itemKey: itemKey })
                  "
                ></app-quote-item>
                <div class="relative my-5 flex items-center">
                  <button
                    class="peer bg-card border-primary text-primary absolute -left-4 z-10 flex h-6 w-6 cursor-pointer items-center justify-center rounded-full border opacity-0 hover:opacity-100"
                  >
                    <svg app-icon-plus class="size-4"></svg>
                  </button>

                  <hr class="peer-hover:border-primary w-full" />
                </div>
              </div>
            }

            @if (quoteNewService.showAddItem() === systemKey) {
              <div class="flex flex-col gap-2">
                <div class="flex flex-row items-baseline gap-2">
                  <span class="rounded-md border border-dashed px-3 font-semibold">
                    {{ systemIndex + 1 }}.{{ itemKeys.length + 1 }}
                  </span>
                  <span class="font-bold">Select a product</span>
                  <!-- <input
                    type="text"
                    placeholder="Search products"
                    class="hover:bg-input focus:bg-input w-full rounded-md border p-1"
                  /> -->
                </div>
                <div class="flex gap-4">
                  @for (product of productListService.products(); track product.id) {
                    <div
                      appButton
                      (click)="quoteNewService.addItem$.next({ systemKey, product })"
                      class="rounded-full!"
                    >
                      {{ product.name }}
                    </div>
                  }
                </div>
              </div>
            }
          </div>

          <div class="flex flex-row justify-between">
            <button
              type="button"
              class="text-primary hover:text-primary/70 cursor-pointer font-medium"
              (click)="quoteNewService.showAddItem$.next(systemKey)"
            >
              Add Item
            </button>

            <div class="flex flex-row items-baseline gap-2">
              <p class="text-sm tracking-widest uppercase">Subtotal</p>
              <p class="mt-1 font-semibold">
                {{ quoteNewService.quote().systems[systemIndex].price | currency }}
              </p>
            </div>
          </div>
        </div>
      }
    </div>

    <button
      type="button"
      class="hover:bg-muted cursor-pointer rounded-md border border-dotted p-4 text-left font-medium"
      (click)="quoteNewService.addSystem$.next()"
    >
      + Add System
    </button>
  </div>

  <!-- Summary -->
  <div
    class="bg-card sticky top-[calc(var(--spacing-topbar-height)+1.5rem)] flex max-h-[calc(100dvh-var(--spacing-topbar-height)-3rem)] flex-col gap-6 overflow-auto rounded-xl border p-6 shadow-sm"
  >
    <div class="flex flex-col gap-4 text-sm">
      <p class="text-lg font-semibold">Quote Summary</p>
      <div class="flex items-center justify-between">
        <span>Systems:</span>
        <span>{{ quoteNewService.systemMap().size }}</span>
      </div>
      <div class="flex items-center justify-between">
        <span>Total Products:</span>
        <span>{{ quoteNewService.itemMap().size }}</span>
      </div>
    </div>

    <div>
      <p class="text-sm tracking-widest uppercase">Total</p>
      <p class="mt-1 text-3xl font-semibold">{{ quoteNewService.quote().price | currency }}</p>
    </div>

    <div class="flex flex-col gap-2">
      <button type="button" appButton variant="secondary">Save as Draft</button>
      <button type="button" appButton variant="primary">Submit Quote</button>
    </div>

    <hr />

    <div class="overflow-auto">
      <p class="text-lg font-semibold">Systems Overview</p>
      <div class="flex flex-col gap-4">
        @for (entry of quoteNewService.systemMap(); track entry[0]; let systemIndex = $index) {
          @let systemKey = entry[0];
          @let itemKeys = quoteNewService.systemItemKeyMap().get(systemKey)!;
          <div class="flex flex-col">
            <p class="text-sm font-semibold">System {{ systemIndex + 1 }}</p>
            <p class="text-sm">{{ itemKeys.length }} items</p>
            <p class="text-sm">
              {{ quoteNewService.quote().systems[systemIndex].price | currency }}
            </p>
          </div>
        }
      </div>
    </div>
  </div>
</div>
