<div class="mb-6">
  <p class="text-foreground/70 text-sm font-semibold tracking-widest uppercase">New Quote</p>
  <h1 class="mt-3 text-3xl font-semibold tracking-tight">Create a new quote</h1>
</div>

<div class="grid gap-6 xl:grid-cols-[1fr_24rem]">
  <div class="flex flex-col gap-6">
    <section class="bg-card rounded-xl border p-6 shadow-sm">
      <div class="mb-6 flex items-center justify-between">
        <div>
          <p class="text-lg font-semibold">Quote Information</p>
          <p class="mt-1 text-sm">Start with the details for this quote.</p>
        </div>
      </div>

      <div class="flex flex-col gap-4">
        <label>
          <span class="text-sm font-medium">Quote Name</span>
          <input
            type="text"
            placeholder="e.g., Warehouse Conveyor System"
            class="hover:bg-input focus:bg-input mt-2 w-full rounded-md border p-2"
          />
        </label>

        <label>
          <span class="text-sm font-medium">Client Name</span>
          <input
            type="text"
            placeholder="Client or company name"
            class="hover:bg-input focus:bg-input mt-2 w-full rounded-md border p-2"
          />
        </label>

        <label>
          <span class="text-sm font-medium">Client Email</span>
          <input
            type="email"
            placeholder="client@example.com"
            class="hover:bg-input focus:bg-input mt-2 w-full rounded-md border p-2"
          />
        </label>
      </div>
    </section>

    @for (system of systemsArray.controls; track system.value.name; let systemIndex = $index) {
      <section class="bg-card flex flex-col gap-4 rounded-xl border p-6 shadow-sm">
        <div class="flex items-center justify-between">
          <div>
            <p class="text-lg font-semibold">{{ system.value.name }}</p>
            <p class="text-foreground/80 mt-1 text-sm">No products added yet</p>
          </div>
        </div>

        <div class="text-foreground/70 rounded-md border border-dotted py-10 text-center">
          <p class="text-sm">Click <span class="font-semibold">Add Product</span> to get started</p>
        </div>

        <div class="flex flex-col gap-4 rounded-md border border-dotted p-6">
          <input
            type="text"
            placeholder="Search"
            class="hover:bg-input focus:bg-input mt-2 w-full rounded-md border p-2"
          />
          <div class="flex gap-4">
            @for (product of productListService.products(); track product.id) {
              <div appButton>{{ product.name }}</div>
            }
          </div>
        </div>

        <div>
          <button
            type="button"
            class="text-primary hover:text-primary/70 cursor-pointer font-medium"
          >
            Add Product
          </button>
        </div>
      </section>
    }

    <button
      type="button"
      class="hover:bg-muted cursor-pointer rounded-md border border-dotted p-4 text-left font-medium"
    >
      + Add System
    </button>

    <div class="bg-accent h-500">scroll placeholder</div>
  </div>

  <div
    class="sticky top-[calc(var(--spacing-topbar-height)+1.5rem)] flex flex-col gap-6 self-start"
  >
    <section class="bg-card flex flex-col gap-6 rounded-xl border p-6 shadow-sm">
      <div class="flex flex-col gap-4 text-sm">
        <p class="text-lg font-semibold">Quote Summary</p>
        <div class="flex items-center justify-between">
          <span>Systems:</span>
          <span>1</span>
        </div>
        <div class="flex items-center justify-between">
          <span>Total Products:</span>
          <span>0</span>
        </div>
        <div class="flex items-center justify-between">
          <span>Total Units:</span>
          <span>0</span>
        </div>
      </div>

      <div>
        <p class="text-sm tracking-widest uppercase">Total</p>
        <p class="mt-1 text-3xl font-semibold">$0</p>
      </div>

      <div class="flex flex-col gap-2">
        <button type="button" appButton variant="secondary">Save as Draft</button>
        <button type="button" appButton variant="primary">Submit Quote</button>
      </div>

      <hr />

      <p class="text-lg font-semibold">Systems Overview</p>
      <div class="rounded-2xl border p-4">
        <p class="text-sm font-semibold">System 1</p>
        <p class="mt-1 text-sm">No products yet</p>
        <p class="mt-4 text-lg font-semibold">$0</p>
      </div>
    </section>
  </div>
</div>
