<div class="mb-6">
  <p class="text-foreground/70 text-sm font-semibold tracking-widest uppercase">New Quote</p>
  <h1 class="mt-3 text-3xl font-semibold tracking-tight">Create a new quote</h1>
</div>
<div class="flex flex-row gap-4">
  <div class="mt-8 border bg-gray-100 p-4">
    <!-- <h3 class="font-bold">Debug ProductMap:</h3>
    <pre>{{ toJSON(quoteNewService.productMap()) | json }}</pre> -->

    <!-- <h3 class="font-bold">Debug SystemMap:</h3>
    <pre>{{ toJSON(quoteNewService.systemMap()) | json }}</pre> -->

    <!-- <h3 class="font-bold">Debug ItemMap:</h3>
    <pre>{{ toJSON(quoteNewService.itemMap()) | json }}</pre> -->

    <!-- <h3 class="font-bold">Debug Quote:</h3>
    <pre>{{ quoteNewService.quote() | json }}</pre> -->
  </div>

  <div class="grid gap-6 xl:grid-cols-[1fr_24rem]">
    <div class="flex flex-col gap-6">
      <div class="bg-card rounded-xl border p-6 shadow-sm">
        <div class="mb-6 flex items-center justify-between">
          <div>
            <p class="text-lg font-semibold">Quote Information</p>
            <p class="mt-1 text-sm">Start with the details for this quote.</p>
          </div>
        </div>

        <div class="flex flex-col gap-4">
          <label>
            <span class="text-sm font-medium">Quote Name</span>
            <input
              type="text"
              [formControl]="quoteNewService.nameControl"
              placeholder="e.g., Warehouse Conveyor System"
              class="hover:bg-input focus:bg-input mt-2 w-full rounded-md border p-2"
            />
          </label>

          <label>
            <span class="text-sm font-medium">Client Name</span>
            <input
              type="text"
              [formControl]="quoteNewService.customerNameControl"
              placeholder="Client or company name"
              class="hover:bg-input focus:bg-input mt-2 w-full rounded-md border p-2"
            />
          </label>

          <label>
            <span class="text-sm font-medium">Client Email</span>
            <input
              type="email"
              [formControl]="quoteNewService.customerEmailControl"
              placeholder="client@example.com"
              class="hover:bg-input focus:bg-input mt-2 w-full rounded-md border p-2"
            />
          </label>
        </div>
      </div>

      <div cdkDropList (cdkDropListDropped)="reorderSystem($event)">
        @for (
          keyValuePair of quoteNewService.systemMap();
          track keyValuePair[0];
          let systemIndex = $index
        ) {
          @let systemId = keyValuePair[0];
          @let itemIds = quoteNewService.systemItemIdMap().get(systemId)!;

          <div cdkDrag class="bg-card flex flex-col gap-4 rounded-xl border p-6 shadow-sm">
            <div class="flex items-center justify-between">
              <div>
                <p class="text-lg font-semibold">System {{ systemIndex + 1 }}</p>
                @if (itemIds.length < 1) {
                  <p class="text-foreground/80 mt-1 text-sm">No products added yet</p>
                } @else {
                  <p class="text-foreground/80 mt-1 text-sm">{{ itemIds.length }} items</p>
                }
              </div>
            </div>

            @if (itemIds.length < 1 && quoteNewService.showAddItem() === null) {
              <div class="text-foreground/70 rounded-md border border-dotted py-10 text-center">
                <p class="text-sm">
                  Click <span class="font-semibold">Add Item</span> to get started
                </p>
              </div>
            }

            <div cdkDropList (cdkDropListDropped)="reorderItem(systemId, $event)">
              @for (itemId of itemIds; track itemId; let itemIndex = $index) {
                @let item = quoteNewService.itemMap().get(itemId)!;
                @let product = quoteNewService.productMap().get(item.productId)!;

                <div cdkDrag class="flex flex-col gap-3">
                  <div class="flex flex-row items-baseline gap-3">
                    <span class="bg-accent rounded-md px-3 font-semibold">
                      {{ systemIndex + 1 }}.{{ itemIndex + 1 }}
                    </span>
                    <p class="text-lg font-bold">{{ item.name }}</p>
                  </div>
                  <p>{{ item.description }}</p>

                  @for (
                    productSelection of product.selections;
                    track productSelection.name;
                    let selectionIndex = $index
                  ) {
                    @let itemSelection = item.selections[selectionIndex];

                    <div class="flex flex-col gap-3">
                      <select
                        [ngModel]="itemSelection.value"
                        (ngModelChange)="
                          onSelectionChange(itemId, itemSelection, productSelection, $event)
                        "
                        class="hover:bg-input focus:bg-input flex-1 rounded-md border p-2"
                      >
                        @for (option of productSelection.options; track option.value) {
                          <option [value]="option.value">
                            {{ option.displayText }}
                          </option>
                        }
                      </select>
                    </div>

                    <!-- <div class="relative">
                    <button
                      type="button"
                      (click)="open = !open"
                      class="w-full rounded-md border p-2 text-left"
                    >
                      {{ selected?.displayText || 'Select an option' }}
                    </button>
                    <div
                      class="bg-card absolute z-10 mt-1 w-full origin-top rounded-md border shadow-sm transition-all"
                      [ngClass]="
                        open ? 'scale-y-100 opacity-100' : 'pointer-events-none scale-y-0 opacity-0'
                      "
                    >
                      @for (option of productSelection.options; track option.value) {
                        <div (click)="select(option)" class="hover:bg-input cursor-pointer p-2">
                          <div class="font-medium">{{ option.displayText }}</div>
                          <div class="text-sm text-gray-500">{{ option.value }}</div>
                        </div>
                      }
                    </div>
                  </div> -->
                  }

                  @if (!$last) {
                    <hr class="my-3" />
                  }
                </div>
              }
            </div>

            @if (quoteNewService.showAddItem() === systemId) {
              <div class="flex flex-col gap-4 rounded-md border border-dotted p-6">
                <!-- <input
                type="text"
                placeholder="Search"
                class="hover:bg-input focus:bg-input mt-2 w-full rounded-md border p-2"
              /> -->
                <div class="flex gap-4">
                  @for (product of productListService.products(); track product.id) {
                    <div appButton (click)="quoteNewService.addItem$.next({ systemId, product })">
                      {{ product.name }}
                    </div>
                  }
                </div>
              </div>
            }

            <div>
              <button
                type="button"
                class="text-primary hover:text-primary/70 cursor-pointer font-medium"
                (click)="quoteNewService.showAddItem$.next({ systemId })"
              >
                Add Item
              </button>
            </div>
          </div>
        }
      </div>

      <button
        type="button"
        class="hover:bg-muted cursor-pointer rounded-md border border-dotted p-4 text-left font-medium"
        (click)="quoteNewService.addSystem$.next()"
      >
        + Add System
      </button>

      <div class="bg-accent h-500">scroll placeholder</div>
    </div>

    <div
      class="sticky top-[calc(var(--spacing-topbar-height)+1.5rem)] flex flex-col gap-6 self-start"
    >
      <div class="bg-card flex flex-col gap-6 rounded-xl border p-6 shadow-sm">
        <div class="flex flex-col gap-4 text-sm">
          <p class="text-lg font-semibold">Quote Summary</p>
          <div class="flex items-center justify-between">
            <span>Systems:</span>
            <span>1</span>
          </div>
          <div class="flex items-center justify-between">
            <span>Total Products:</span>
            <span>0</span>
          </div>
          <div class="flex items-center justify-between">
            <span>Total Units:</span>
            <span>0</span>
          </div>
        </div>

        <div>
          <p class="text-sm tracking-widest uppercase">Total</p>
          <p class="mt-1 text-3xl font-semibold">$0</p>
        </div>

        <div class="flex flex-col gap-2">
          <button type="button" appButton variant="secondary">Save as Draft</button>
          <button type="button" appButton variant="primary">Submit Quote</button>
        </div>

        <hr />

        <p class="text-lg font-semibold">Systems Overview</p>
        <div class="rounded-2xl border p-4">
          <p class="text-sm font-semibold">System 1</p>
          <p class="mt-1 text-sm">No products yet</p>
          <p class="mt-4 text-lg font-semibold">$0</p>
        </div>
      </div>
    </div>
  </div>
</div>
