@if (productEditService.error()) {
  <p class="text-destructive">Error: {{ productEditService.error() }}</p>
}

@if (!productEditService.loaded()) {
  <p>Loading...</p>
} @else {
  <button appButton type="button" (click)="showDebug.set(!showDebug())">Toggle Debug</button>
  @if (showDebug()) {
    <div class="bg-sidebar mt-8 border p-4">
      <h3 class="font-bold">Debug Form Value:</h3>
      <pre>{{ productEditService.priceDictionary() | json }}</pre>
      <button
        class="hover:bg-input cursor-pointer rounded-md border p-2"
        (click)="calculateJsonSize()"
      >
        Calculate size
      </button>
    </div>
  }

  @if (productEditService.isPriceDictionaryOutOfDate()) {
    <p class="text-destructive font-semibold">Prices need to be regenerated!</p>
  }

  <div class="flex flex-col gap-4">
    <button appButton (click)="productEditService.generatePriceDictionary$.next()">Generate</button>
    <p>Total Variations: {{ productEditService.productForm().priceDictionary.prices.length }}</p>
    @for (priceForm of productEditService.productForm().priceDictionary.prices; track $index) {
      @let productCode = priceForm[0];
      @let price = priceForm[1];

      <div class="flex flex-row justify-between gap-2">
        <p class="font-semibold">{{ productCode }}</p>
        <input
          type="number"
          class="hover:bg-input focus:bg-input rounded-md p-2 text-right"
          placeholder="$0.00"
          [formField]="price"
          [ngClass]="{
            'border-destructive border': price().invalid(),
          }"
        />
      </div>
      @if (price().invalid()) {
        <div>
          @for (error of price().errors(); track error.kind) {
            <p class="text-destructive">{{ error.message }}</p>
          }
        </div>
      }
      <hr />
    }
  </div>
}
